<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Login and Signup Demo</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='/css/loginStyle.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="auth-form">
        <h2>Sign up</h2>
        <div class="form-group">
          <label for="name">Name*</label>
          <input
            type="text"
            id="signup-name"
            name="name"
            placeholder="Enter name"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">Email*</label>
          <input
            type="email"
            id="signup-email"
            name="email"
            placeholder="Enter email address"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password*</label>
          <input
            type="password"
            id="signup-password"
            name="password"
            placeholder="Enter password"
            required
          />
        </div>
        <button id="signup-btn">Sign up</button>
        <p class="auth-message">
          Already have an account? <a href="#" id="login-link">Login</a>
        </p>
      </div>
    </div>
    <script src="{{ url_for('static', path='/js/loginApp.js') }}"></script>
  </body>
</html>
